<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="visclient" version="0.1">
  <name>VISClient</name>
  <icon src="icon.svg"/>
  <content src="bin/visclient" type="application/vnd.agl.native"/>
  <description>This is a demo visclient application</description>
  <license>APL 2.0</license>
  <feature name="urn:AGL:widget:required-api">
  </feature>
  <feature name="urn:AGL:widget:required-permission">
    <param name="urn:AGL:permission::public:no-htdocs" value="required"/>
    <param name="urn:AGL:permission::system:run-by-default" value="required"/>
  </feature>
</widget>